/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

body
{
    background-color: var(--beige);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Bodoni Moda", serif;
    min-height: 500px;
    min-width: 320px;
}

p
{
    font-size: 1.3em;
    line-height: 1.3em;
}

h1
{
    font-family: "Bodoni Moda", serif;
    font-size: 4rem;
    color: var(--noir);
}

h3
{
    color: white;
    font-size: 6em;
}

.fontBeige
{
    color: var(--beige);
}

.fontBlack
{
  color: var(--noir);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}

.button
{
  height: 50px;
  width: 200px;
  border: 1px solid var(--beige);
  border-radius: 24px;
  background-color: var(--vert);
  color: var(--beige);
}

.button:hover
{
  background-color: var(--brun);
  transition: 6300ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* mainContent */
.mainContent
{
    min-height: 500px;
    margin-top: 10%;
}

form
{
    background-color: var(--grisF);
    color: var(--beige);
    font-size: 1.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Media Queries */


@media only screen and (min-width : 1200px) and (max-width : 1400px)
{
    main #mainTitle
    {
        font-size: 3rem;
    }
}

@media only screen and (min-width : 1000px) and (max-width : 1200px)
{
    main #mainTitle
    {
        font-size: 2.8rem;
    }
}

@media only screen and (min-width : 700px) and (max-width : 1000px)
{
    main #mainTitle
    {
        font-size: 2.6rem;
    }
}

@media only screen and (min-width : 0px) and (max-width : 700px)
{
    main #mainTitle
    {
        font-size: 2.4rem;
    }
}
