/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --or : #FFFFF0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

html, body
{
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

.titleH1
{
    color: var(--vert);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.accordion-title
{
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    font-weight: 600;
}

.faq
{
    background-color: var(--or);
}

section .contactUs
{
    background-color: var(--grisF);
    color: white;
    font-size: 1.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
