/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #536964;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --or : #FFFFF0;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}



html, body
{
    background-color: var(--or);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

p
{
    font-size: clamp(1.1rem, 2vw + 0.5rem, 1.3rem);
    line-height: 1.4em !important;
    color: var(--noir);
}

h3
{
    color: white;
    font-size: clamp(2rem, 5vw + 1rem, 6em);
}

h5
{
    color: white !important;
    font-size: clamp(1.5rem, 2vw + 0.5rem, 2rem);
}

.fontBeige
{
    color: var(--beige);
}

.fontBlack
{
  color: var(--noir);
}

.fontGreen
{
  color: var(--vert);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}

/* Section : Home */
main .home
{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 200px;
    text-align: center;
}

/* Animation mainTitle */
.home .mainTitleHome
{
    font-size: clamp(4rem, 12vw + 2rem, 10rem) !important;
    letter-spacing: .8rem;
}

h1.mainTitleHome:after
{
    content: "";
    animation: revealHome 1.5s linear 1;
    animation-fill-mode: forwards;
}

@keyframes revealHome
{
    0%
    {
        content: "K";
    }

    25%
    {
        content: "KE";
    }

    50%
    {
        content: "KEN";
    }

    75%
    {
        content: "KENK";
    }

    100%
    {
        content: "KENKO";
    }
}
 /* END Animation mainTitle */

.home .secondTitle
{
    font-size: clamp(1rem, 3vw + 1rem, 2.5rem);
}


/* END Home */

.wave
{
  display:block;
  width:100%;
  height:80px; /* adapter la hauteur si besoin */
  margin-top:-1px; /* pour éviter un petit trait blanc en bas */
}

/* mainSection */
.mainSection .part1
{
    background-color: var(--grisF);
    min-height: 1400px;
    background-image: url(../img/services/Kenko-Ho/bgKenkoHo.svg);
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.mainSection .part2
{
    background-color: var(--gris);
    min-height: 1400px;
    background-image: url(../img/services/Kenko-Web/pictos/bgKenkoWeb.svg);
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.mainSection .kenkoTitles
{
    margin-top: 7%;
}

.mainSection .card
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    opacity: 85%;
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

.mainSection .card:hover
{
  transform: scale(1.02);
  transition: transform 330ms ease-in;
}
/* END mainSection */

/* Media queries */
@media only screen and (min-width: 1000px) and (max-width : 1300px)
{
    main .mainContent
    {
        max-width: 100%;
    }

    main .mainTitle
    {
        font-size: 12rem !important;
    }

    main .secondTitle
    {
        font-size: 3rem !important;
    }
}

@media only screen and (min-width: 500px) and (max-width : 999px)
{
    main .mainContent
    {
        max-width: 100%;
    }

    main .mainTitle
    {
        font-size: 8.5rem !important;
    }

    main .secondTitle
    {
        font-size: 1.9rem !important;
    }
}

@media only screen and (min-width: 0px) and (max-width : 500px)
{
    main .mainContent
    {
        max-width: 100%;
    }

    main .mainTitle
    {
        font-size: 7rem !important;
    }

    main .secondTitle
    {
        font-size: 2rem !important;
    }
}

@media only screen and (min-width: 0px) and (max-width : 499px)
{
    main .mainContent
    {
        max-width: 100%;
    }

    main .mainTitle
    {
        font-size: 5rem !important;
    }

    main .secondTitle
    {
        font-size: 1.3rem !important;
    }
}

@media only screen and (min-width : 500px) and (max-width : 620px)
{
    .mainSection .kenkoTitles
    {
        font-size: .8em;
    }
}

@media only screen and (min-width : 400px) and (max-width : 500px)
{
    .mainSection .kenkoTitles
    {
        font-size: .6em;
    }
}

@media only screen and (min-width : 0px) and (max-width : 400px)
{
    .mainSection .kenkoTitles
    {
        font-size: .5em;
    }
}

@media only screen and (min-width : 470px) and (max-width : 504px)
{
    .card
    {
        width: 27rem !important;
    }
}

@media only screen and (min-width : 0px) and (max-width : 470px)
{
    .card
    {
        width: 25rem !important;
    }
}
