/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #536964;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

html, body
{
    background-color: var(--beige);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

button
{
  height: 50px;
  width: 250px;
  border: 1px solid var(--beige);
  border-radius: 24px;
  background-color: var(--vert);
  color: var(--beige);
  cursor: pointer;
}

button:hover
{
  background-color: var(--brun);
  transition: 6300ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 600px)
{
    button
    {
        font-size: 14px;
        padding: 10px 20px;
    }
}

/* Btn END */

/* Section Hero */
.hero
{
    position: relative;
    width: 100%;
    min-height: 100vh; /* prend toute la hauteur de l'écran */
    background-image: url('../img/kenkoWeb/KenkoWeb_banner.svg');
    background-size: cover; /* l'image remplit le conteneur */
    background-position: center left; /* alignée à droite */
    background-repeat: no-repeat;
    padding: 0 5%;
    overflow: hidden;
}

.mainTitleHero
{
    font-size: 5rem;
    letter-spacing: .9rem;
}

.subTitle
{
    font-size: 2rem;
}
/* Section Hero END*/

/* Wave */
.wave
{
  display:block;
  width:100%;
  height:80px; /* adapter la hauteur si besoin */
  margin-top:-1px; /* pour éviter un petit trait blanc en bas */
}
/* Wave END*/

/* Section : Purposes */
.purposes
{
    min-height: 100vh;
    background-color: var(--gris);
}
/* Section : Purposes END*/

/* Section : Purposes */
.offers
{
    min-height: 100vh;
    background-color: var(--gris);
}

.card
{
    min-height: 45rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
}

  /* Pop-up */

/* Container pop-up */

.popup-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Contenu pop-up */

.popup
{
    background: var(--beige);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popup button
{
    height: 50px;
    width: 250px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--vert);
    color: var(--beige);
}

.pPopUp
{
    color: var(--vert);
}

    /* Pop-up END */
/* Section : Purposes END*/

/* Section : Sikills */
.skills
{
    min-height: 100vh;
    background-color: var(--gris);
}

.blocAtouts
{
    margin-top: 10%;
}

.pictoAtouts
{
   max-height: 4em;
}

.pictoAtoutsPerso
{
    width: 100%;
}

section .atoutsContent
{
    background-size: cover;
    background-position: center;
}
/* Section : Sikills END*/

/* Section : Time Line */
.timeLine
{
    min-height: 100vh;
    background-color: var(--gris);
}

.timeline
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after
{
    content: "";
    position: absolute;
    width: 4px;
    background-color: var(--beige);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-item
{
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd)
{
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even)
{
    left: 50%;
    text-align: left;
}

.timeline-content
{
    background: var(--beige);
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-content h4
{
    margin-bottom: 5px;
    color: var(--vert);
    font-size: 1.6rem;
}
/* Section : Time Line END*/
