/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #536964;
    --grisF : #8b9cb6;
    --or : #FFFFF0;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

html, body
{
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

.titleH1
{
    color: var(--vert);
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

/* Section Hero */
.hero
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-image: url('../img/home/KenkoWeb_banner.svg');
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0% 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
}

.hero-content
{
    max-width: 700px;
    color: #fff;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.mainTitleHero
{
    font-size: clamp(2rem, 6vw + 1rem, 5rem) !important;
    letter-spacing: .8rem;
    margin-bottom: 1rem;
}

h1.mainTitleHero:after
{
    content: "";
    animation: reveal 2s linear 1;
    animation-fill-mode: forwards;
}

@keyframes reveal
{
    0%
    {
        content: "K";
    }

    10%
    {
        content: "KE";
    }

    20%
    {
        content: "KEN";
    }

    30%
    {
        content: "KENK";
    }

    40%
    {
        content: "KENKO";
    }

    50%
    {
        content: "KENKO-";
    }

    60%
    {
        content: "KENKO-W";
    }

    70%
    {
        content: "KENKO-WE";
    }

    80%
    {
        content: "KENKO-WEB";
    }

    100%
    {
        content: "KENKO-WEB";
    }
}

.subTitle
{
    font-size: 2rem;
}

/* Responsive */
@media (max-width: 992px)
{
    .mainTitleHero
    {
        font-size: 3.5rem;
        letter-spacing: 0.5rem;
    }
    .subTitle
    {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px)
{
    .mainTitleHero
    {
        font-size: 2.5rem;
        letter-spacing: 0.3rem;
    }
    .subTitle
    {
        font-size: 1.2rem;
    }
}
/* Section Hero END*/

/* Wave */
.waveWeb
{
  display:block;
  position: relative;
  width:100%;
  height:80px;
  top: 60px;
  transform: scaleY(-1);
}
/* Wave END*/

/* Section : Purposes */
.purposes
{
    min-height: 100vh;
    background-color: var(--beige);
    padding: 200px 0;
}

.pictoBlocWeb h4
{
    font-weight: bolder;
    font-size: 1.8rem;
    color: var(--grisF);
}

.pictoBlocWeb p
{
    font-size: 1.3rem;
}

.pictoBlocWeb img
{
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) brightness(0.7);
}

.pictoBlocWeb img:hover
{
  transform: scale(1.1);
  filter: sepia(80%) saturate(250%) hue-rotate(330deg) brightness(1.05);
}
/* Section : Purposes END*/

/* Section : Purposes */
.offers
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 100px 0;
}

.card
{
    min-height: 45rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:hover
{
    transform: scale(1.02);
    transition: transform 330ms ease-in;
}

  /* Pop-up */

/* Container pop-up */

.popup-container
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2000;
}

/* Contenu pop-up */

.popup
{
    background: var(--beige);
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: 300px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popup button
{
    height: 50px;
    width: 250px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--vert);
    color: var(--beige);
}

.pPopUp
{
    color: var(--vert);
}

    /* Pop-up END */
/* Section : Purposes END*/

/* Section : Sikills */
.skills
{
    min-height: 50vh;
    background-color: var(--or);
    padding: 200px 0;
}

.skillsContent p
{
    font-size: 1.3rem;
}

.blocAtouts
{
    margin-top: 10%;
}

.pictoAtouts
{
   max-height: 6em;
}

.pictoAtoutsPerso
{
    width: 100%;
}

section .atoutsContent
{
    background-size: cover;
    background-position: center;
}
/* Section : Sikills END*/

/* Section : Time Line */
.timeLine
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 100px 0;
}

.timeline
{
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::after
{
    content: "";
    position: absolute;
    width: 4px;
    background-color: var(--grisF);
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -2px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-item
{
    position: relative;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
}

.timeline-item:nth-child(odd)
{
    left: 0;
    text-align: right;
}

.timeline-item:nth-child(even)
{
    left: 50%;
    text-align: left;
}

.timeline-content
{
    background: var(--grisF);
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.timeline-content h4
{
    margin-bottom: 5px;
    color: var(--beige);
    font-size: 1.6rem;
}
/* Section : Time Line END*/

/* Section : Maintenance */
.maintenance
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 100px 0;
}

.boxWeb
{
    background-color: var(--brun);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

article li
{
    font-size: 1.2em;
}
/* Section : Maintenance END*/

/* Section : Hébergement */
.hosting
{
    min-height: 100vh;
    background-color: var(--or);
    padding: 00px 0;
}
/* Section : Hébergement END*/

/* Section : Trust */
.trustSection
{
    min-height: 100vh;
    background-color: var(--or);
}

section .trustBox
{
    background-color: var(--vert);
    border-radius: 500px;
    margin-top: 12% !important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    gap: 0px;
}

.logo-container
{
    width: 300px; /* Ajuste la largeur du conteneur */
    height: 250px; /* Ajuste la hauteur du conteneur */
    position: relative;
}

.logo
{
    position: absolute;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.logo.active
{
    opacity: 1;
}
/* Section : Trust END*/
