/* BTN */
button, .button
{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 200px;
    padding: 0 20px;
    border: 1px solid var(--beige);
    border-radius: 24px;
    background-color: var(--vert);
    color: var(--beige);
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    white-space: nowrap;
}

button:hover, .button:hover
{
    background-color: var(--brun);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
                rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@media (max-width: 576px)
{
    .button
    {
        font-size: 0.9rem;
        padding: 0.6rem 1rem;
    }
}
