/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

body
{
    background-color: var(--beige);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Bodoni Moda", serif;
    min-height: 500px;
    min-width: 320px;
}

b
{
    font-weight: bold;
}

p, ul li
{
    font-size: 1.2em;
    line-height: 1.2em;
}

h1
{
    font-family: "Bodoni Moda", serif;
    font-size: 4rem;
    color: var(--noir);
}

h2
{
    font-family: "Bodoni Moda", serif;
    font-size: 2rem;
    color: var(--vert);
}

h3
{
    color: var(--vert);
    font-size: 1.6em;
}

.fontBeige
{
    color: var(--beige);
}

.fontWhite
{
    color: white;
}

.fontBlack
{
  color: var(--noir);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}
/*  Nav  */
nav
{
    height: 150px;
}

nav .nav-link
{
    color: var(--noir);
    font-size: 1.5em;
    border-bottom: 1px solid transparent;
    transition: padding-bottom .4s ease-in-out, border-color .3s ease;
}

nav .nav-link:hover
{
    padding-bottom: 20px;
    border-bottom-color: var(--bleu);
}

nav .dropdown-menu
{
    display: block;
    max-height: 10rem;
    overflow: hidden;
    background-color: var(--vert);
    border-radius: 14px;
    font-size: 1.7em;
    width: 15rem;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: max-height 0.5s ease-out, opacity 0.3s ease;
}

nav .dropdown-menu.show
{
    max-height: 500px;
    opacity: 1;
}

nav .dropdown-item
{
    color: var(--beige);
}

#logo
{
    height: 5em;
    width: 5em;
}

.button
{
  height: 50px;
  width: 200px;
  border: 1px solid var(--beige);
  border-radius: 24px;
  background-color: var(--vert);
  color: var(--beige);
}

.button:hover
{
  background-color: var(--brun);
  transition: 6300ms;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* mainContent */
.mainContent
{
    min-height: 1500px;
    margin-top: 10%;
}

main .box
{
    background-color: var(--gris);
    color: var(--beige);
    font-size: 1.2em;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

main img
{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.cookie-image
{
    position: absolute;
    top: 80%;
    right: 15%;
    width: 650px;
    max-width: 100%;
    opacity: 0.8;
    z-index: 10;
}
