/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

html, body
{
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

.titleH1
{
    color: var(--vert) !important;
    text-shadow: 2px 2px 8px rgba(0,0,0,0.5);
}

.fontWhite
{
    color: var(--beige);
    font-size: 1.5rem;
    line-height: 1.5rem;
}

.quiSuisJe
{
    min-height: 100vh;
    padding: 200px 0;
}

.whoIam
{
    padding: 0;
    min-height: 100% !important;
    background-size: cover;
    background-position: center;
    background-color: var(--brun);
    position: relative; /*pour les ajustements*/
}

.whoIam img
{
    max-width: 100%;
    height: 50Vh !important;
}
/* END section qui suis-je ?*/

article img
{
    height: max-content;
}

.pictoBloc
{
    padding: 100px 0;
}

.pictoBloc img
{
    transition: transform 0.3s ease, filter 0.3 ease;
    filter: grayscale(100%) brightness(0.7);
}

.pictoBloc img:hover
{
    transform: scale(1.1);
    filter: grayscale(0%) brightness(1);
}

section .boxWhoIam
{
    background-color: var(--grisF);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* Media Queries */
@media only screen and (max-width: 768px)
{
    .whoIam
    {
        margin-top: 5%; /* Réduit la marge supérieure pour les petits écrans */
        padding: 2rem 0; /* Ajoute un peu de padding sur le dessus et le dessous */
    }
}
