/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #536964;
    --violet : #bd8bca;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

html, body
{
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

/* Symboles: usages */

.circleA
{
    display: inline-block;
    width: 37px;
    height: 37px;
    line-height: 33px;
    text-align: center;
    border: 1px solid var(--grisF);
    border-radius: 50%;
    font-style: normal;
    color: var(--grisF);
}

.circleT
{
    display: inline-block;
    width: 37px;
    height: 37px;
    line-height: 33px;
    text-align: center;
    border: 1px solid var(--vert);
    border-radius: 50%;
    font-style: normal;
    color: var(--vert);
}

.circleI
{
    display: inline-block;
    width: 37px;
    height: 37px;
    line-height: 33px;
    text-align: center;
    border: 1px solid var(--violet);
    border-radius: 50%;
    font-style: normal;
    color: var(--violet);
}
/* Symboles: usages END */

/* Légende */
.legend small
{
    color: #555;
    font-size: 0.9rem;
}
.legend span
{
    font-size: 0.9rem;
    margin-right: 0.2rem;
}
/* Légende END*/

.fontBeige
{
    color: var(--beige);
}

.fontWhite
{
    color: white;
}

.fontBlack
{
  color: var(--noir);
}

.bg-grey
{
    background-color: var(--gris);
}

.bg-blue
{
    background-color: var(--grisF);
}

/* mainSection */
.dixHuiles
{
    min-height: 1500px;
    margin-top: 10%;
    padding-bottom: 50px;
    padding-top: clamp(6rem, 15vh, 16rem);
}

.mainTitleContent
{
    padding: 50px 0;
    position: relative;
}

.blocTitleHo
{
  position: relative;
  display: inline-block;
}

.line
{
    position: absolute;
    width: 100%;
    background: var(--vert);
    height: 3px;
    margin: auto;
    margin-top: -1%;
}

.line span
{
    display: block;
    width: 70%;
    height: 4px;
    background: var(--violet);
    margin: auto;
    position: relative;
    bottom: 0.5px;
}

.dixHuiles .box
{
    background-color: var(--violet);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 1.3em;
}

.box h3
{
    font-size: 2rem;
    color: var(--vert);
    margin-bottom: 10px;
}

.box img
{
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.usages-p
{
    text-indent: -2em;
    padding-left: 1em;
}

