/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Caveat:wght@400..700&display=swap" rel="stylesheet">');

@font-face
{
  font-family: 'Dastin';
  src : url('../fonts/Dastin.otf') format('opentype'),
        url('../fonts/Dastin.ttf') format('trutype'),
        url('../fonts/Dastin.woff') format('woff'),
        url('../fonts/Dastin.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root
{
    --vert : #536964;
    --grisF : #8b9cb6;
    --gris : #bfc1c2;
    --beige : #f1efe9;
    --brun : #e3c7af;
    --noir : #282828;
}

html, body
{
    background-color: var(--beige);
    width: 100% !important;
    overflow-x: hidden;
    font-family: "Dastin";
    min-height: 500px;
    min-width: 320px;
}

.emotions
{
    min-height: 1500px;
    margin-top: 10%;
    padding-bottom: 50px;
}

.mainTitleContent
{
    position: relative;
}

.blocTitleEmotions
{
  position: relative;
  display: inline-block;
}

.line
{
  position: relative;
  width: 100%;
  height: 3px;
  background: var(--vert);
  margin: 10px auto 0;
}

.line span
{
  display: block;
  width: 70%;
  height: 4px;
  background: var(--violet);
  margin: auto;
}

.emotions .box
{
    background-color: var(--brun);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-size: 1.3em;
}

.box h3
{
    font-size: 2rem;
    color: var(--beige);
    margin-bottom: 10px;
}

.box img
{
    border-radius: 50%;
    height: 35rem;
    width: 45rem;
    object-fit: cover;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}


